body {
    background: #F0F0F0;
}
nav{
    width: 20%;
    float: left;
    padding-right: 20px;
}
aside{
    float: right;
    width: 20%;
}
ul{
    list-style: none;
    margin-left: -35px;
}

.listRed{
    font-weight: 700;
    color: #870100;
}
section{
    padding: 10px;
    width: 45%;
    float: left;
    background-color: white;
    border: 1px solid #7E7E7E;
}

section button {
    background: white;
    border: 1px solid black;
}
section img {
    float: left;
}
section h4{
    background-color: #7E7E7E;
    color: white;
    padding-left: 4px;
}
a{
    color: #870100;
}
hr{
    height: 1px;
    background: grey;
}

aside div{
    border: 1px solid grey;
    text-align: center;
    margin-top: 2px;
    padding: 5px 0 5px 0;
}

aside h4{
    background: #7E7E7E;
    text-align: center;
    color: white;
    margin-top: -5px;
}

#stylesButton {
    background: linear-gradient(90deg,#B9E5FC, #D2EFFD, #D2EFFD, #D2EFFD, #B9E5FC);
    height: 35px;
    width: 120px;
    font-weight: 800;
    color: #36C7FE;
    border: 1px solid black;
}